#newTodo
{
    width: 300px;
    padding: 10px;
    margin: 20px 0 0 0;
    text-align: left;
}

label 
{
    margin: 0;
    font-weight: 300;
}

ul 
{
	width: 300px;
    padding: 0;
    margin: 20px;
}

ul li button
{
  margin: 5px 10px;
}

#todoList div
{
    padding: 10px;
    border: 1px solid #eee;
}


.footer ul, .footer ul li, .footer button
{
    display: inline;
}
